In [79]:
from bs4 import BeautifulSoup
import requests

In [80]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [81]:
# print(soup)

In [82]:
# <table class="wikitable sortable jquery-tablesorter">
# soup.find('table', class_ = 'wikitable sortable')

In [83]:
# Since find_all give a list we can iterate the list index
table = soup.find_all('table')[1]
# print(table)

In [84]:
# Gives the same table from the list of table with class_ 'wikitable sortable'
table2 = soup.find_all('table',class_ = 'wikitable sortable')[0]

In [85]:
# Pick out the headers with <th> tag
table_headers = table.find_all('th')

In [86]:
# Using list comprehension to extract the headers
table_title = [title.text.strip() for title in table_headers]
print(table_title)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [87]:
import pandas as pd

In [88]:
# Create a pandas dataframe with the extracted titles
df = pd.DataFrame(columns = table_title)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [89]:
# Find the row in table with 'tr'
column_data = table.find_all('tr')

In [90]:
# Iterating thru each row of data and adding them to the DataFrame
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]  # stripping data if extra spaces & '\n'
    length = len(df)
    df.loc[length] = individual_row_data  # appending each row 1-by-1 to the dataframe

In [91]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Airspace and defense,"38,469",8.7%,"103,100","Reston, Virginia"
96,97,CHS,Agriculture cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota"
97,98,USAA,Financials,"37,470",3.2%,"37,335","San Antonio, Texas"
98,99,Northwestern Mutual,Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin"
99,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"

In [92]:
# Export webscrapped data to CSV
df.to_csv(r'C:\Users\soura\Downloads\python\Alex Freberg\List_Of_Largest_Companies_US.csv', index=False)